body {
	background: #A5F2F3;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*Why won't the border bottom appear? */
header {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 200px;
	margin-bottom: 5px;
	margin-top: 0px;
}

.name {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', serif;
	text-align: center;	
	font-size: 40px;
	font-weight: 200;
	margin: auto 0;
}

h1 {
	margin-bottom: 2px;
	vertical-align: middle;
	padding-bottom: 0px;
}

/* When I make the browser as small width-wise 
as possible, these disappear! Thoughts?*/
.page-links {
	height: 150px;
	text-align: center;
}

a {
	color: white;
	vertical-align: middle;
	font-size: 30px;
	font-weight: 150;
	margin-right: 2px;
	border-right: 2px;
	padding-right: 2px;
}

.about-container {
	clear: right;
	clear: left;
	height: 200px;
	width: auto 0;
	text-align: center;
	font-size: 20px;
}

#headshot {
	margin-top: -1em;
}

/* If max-width is set to ~700px, the container 
is no longer centered on the page, but left-aligned? */
.about-information {
	clear: left;
	font-size: 22px;
	text-align: center;
	margin: auto;
	max-width: 600px;
}

/* Beginning of Portfolio.html page CSS*/
#experience {
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

.body-work {
	text-align: center;
}

/* Why does the margin continue to say 18.72 for height
size when I have specified it to be smaller here? */
.title {
	margin: 5 0 5 0;
	padding: 0 0 5 0;
}

.description {
	margin: 5 0 5 0;
	padding: 0 0 5 0;
}
